name: Java CI/CD with GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkout code
         uses: actions/checkout@v2
   
       - name: Set up JDK 11
         uses: actions/setup-java@v2
         with:
           java-version: '11'
           distribution: 'microsoft'
   
       - name: Build with Maven
         run: mvn -B package --file pox.xml
   
       - name: Run tests
         run: mvn test

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
       - name: Checkout code
         uses: actions/checkout@v2
   
       - name: Deploy to GitHub Pages
         uses: peaceiris/actions-gh-pages@v3
         with:
           github_token: ${{ secrets.GITHUB_TOKEN }}
           publish_dir: ./target/site  # Assuming you are deploying static content from the site directory
